@model riot.Models.AccountViewModels.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <title>Create Account</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>

    <div class="collapse navbar-collapse" id="navbarSUpportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
        <form class="form-inline my-1 my-lg-0">
        </form>
    </div>
</nav>

<div class="text-center">
    <p><h4>@ViewData["error"]</h4></p>
</div>

<form method="post">
    <div class="row">
        <div class="card-body">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" asp-for="FirstName" class="form-control" style="width: 40%;" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" asp-for="LastName" class="form-control" style="width: 40%;" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" asp-for="Email" class="form-control" style="width: 40%;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Birthday</label>
                <input type="date" asp-for="BirthDate" class="form-control" style="width: 40%;" />
                <span asp-validation-for="BirthDate" class="form-control"></span>
            </div>
            <div class="form-group">
                <label>Region</label>
                <input type="text" asp-for="Region" class="form-control" style="width: 40%;" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" asp-for="Password" class="form-control" style="width: 40%;" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" style="width: 40%;" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-dark" type="submit" asp-action="Register" asp-controller="Account">Create</button>
        </div>
    </div>
</form>